body{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-image: url('./Imagenes/pexels-fabricio-trujillo-60626.jpg');
}
.navbar-nav{
    display: flex;
    padding-right: 20px;
    justify-content: space-between;
}
.navbar-expand-lg 
.navbar-nav .nav-link{
   padding: 0px 15px 0px 15px;
}
.navbar-brand{
    padding-left: 20px;
}
#Inicio{
    margin-top: 20vh;
    justify-content: center;
   
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#Inicio-bienvenida{
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 150px;
}
.Inicio-nombre-apellido{
    padding: 10px 10px 10px 10px;
    color:#ffffff;
    margin: 0px;
}
.navbar-toggler{
    margin-right: 20px;
}
#Inicio__bienvenida-descripcion{
    display: flex;
    background-color: #2d3031;
    border-radius: 10px;
    text-align:center;
    align-items: center;
    margin-bottom: 100px;
    filter:alpha(opacity=90);
-moz-opacity:.90;opacity:.90;
}
#Inicio__bienvenida-foto{
    width: 420px;
}
#Footer{
background-color: #212529;
display: flex;
justify-content: space-between;
text-align: center;
}
#Footer-cr{
    width: 30px;
    color:#7a7d83;
    font-size: 15px;
    width: 440px;
    height: 40px;
    margin: 0px;
    padding-top: 10px;
   
}
.Links-botones{
        text-decoration: none;
        color: #212529;
        display: flex;
        justify-content: center;
        align-items: center;
      
}
.Links-botones:link, .Links-botones:visited, .Links-botones:focus {
    background: #9BEEF4;
    border-radius: 10px;
    width: 120px;
    height: 40px;
}
  
  .Links-botones:hover {
    background: 9BEEF4;
  }
  
  .Links-botones:active {
    background: 9BEEF4;
    color: white;
  }
  .subtitulo{
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
#Contacto-Form{
    display: flex;
    background-color: #2d3031;
    border-radius: 10px;
    text-align:center;
    align-items: center;
    margin-bottom: 100px;
    justify-content:center;
}
.form{
    width: 300px;
    margin-top: 50px;
}
#boton-form{
    margin-top: 30px;
    margin-bottom: 30px;
}
.form-control{
    font-family: 'Quicksand', sans-serif;
}
#RedesSociales{
    padding-left: 90px;
    padding-right: 90px;
    display: flex;
    background-color: #2d3031;
    border-radius: 10px;
    margin-bottom: 100px;
    filter:alpha(opacity=90);
-moz-opacity:.90;opacity:.90;
justify-content: space-between;
}